/* 
 * ==============
 *   Typography
 * ==============
 */

@font-face {
  font-family: 'dserif';
  src: url('vendor/DroidSerif-Regular.ttf') format('truetype');
}

h1 { 
  font-size: 2.5em;
}

h2 { 
  font-size: 1.35em; 
  letter-spacing: 0.0205em;
}

h6,
h5,
h4 { 
  font-size: 1em;
}

h3 {
  font-size: 1.35em;
  letter-spacing: -0.0205em;
}

body {
  font: 14px/19px 'dserif', Times;
}


/*
 * ====================
 *   Flow & Alignment
 * ====================
 */

figure,
.intro {
  display: block;
}

.section-group {
  text-align: center;
  display: block;
  white-space: nowrap;
  vertical-align: top;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  position: relative;
}

section {
  display: inline-block;
  text-align: left;
  white-space: normal;
  vertical-align: top;
}

.category-group-super {
  display: block;
  text-align: center;
}

.category-group-super.h2 {
  text-align: center;
}

.category-group {
  display: inline-block;
  text-align: left;
}

ol { 
  float: none;
}

ol > li {
  float: none;
  display: inline-block;
}

.center-expand .label {
  text-align: center;
}

/* 
 * The aside registers
 * its normal height
 */
aside.aside{
  float: right;
  text-align: left;
  margin: 0.5em 0 2em 4em;
}

/* 
 * If a section is the same level as a
 * paragraph, then make the section display
 * block
 */
p + .section-group > section {
  display: block;
}

.pull-left > .category-group-super {
  text-align: left;
}

.intro,
.intro p,
ul,
li,
ol,
figure,
.description,
.description p {
  float: left;
  clear: both;
}

h2 {
  text-align: center;
}


/* 
 * ===========
 *   Spacing
 * ===========
 */
 
.intro,
.description,
ul,
ol {
  margin-left: 1em
}

.intro {
  margin-top: 1em
}

/*
.intro .description,
.description .description {
  margin-left: 3em;
}
  */

.section-group {
  margin-top: 2em;
}

.intro p,
.description p,
.description figure {
  margin-left: 0;
  padding-left: 2em;
}

.label {
  display: block;
  padding-top: 1.5em;
}

.category-group-super.h1 {
  margin-bottom: 3em;
}

.category-group-super.h3 {
  margin-top: 2em;
}

section {
  margin: 0 2em;
}

/* 
 * If there's a sectiongroup that
 * expands off a description node then
 * don't indent that section.
 *
 * Instead, bring it in with everthing
 * else.
 */
p + .section-group {
  margin-top: 0;
  margin-left: 0;
  float: left;
  clear: both;
}
p + .section-group > section {
}

p + .section-group > section {
  margin-left: 0 
}

li,
p {
  margin-bottom: 1.25em;
}

li {
  padding: 0.5em;
}

h1 { 
  padding: 0.5em 0; 
}

h2 {
  padding: 0.75em 1em;
}

h4, h3 {
  padding: 0.5em 0.5em 0.65em;
}


.intro,
.description {
  padding: 0 0.25em;
  margin-bottom: 1.5em;
}

.description {
  margin-top: 1.5em;
}

p + .description {
  margin-top: 0;
}


/* 
 * ===============
 *   Confinement
 * ===============
 */

.intro p,
figcaption, 
.description p {
  width: 19em; 
}

img {
  width: 18.5em;
}

li {
  max-width: 19em;
}

h6,
h5,
h4,
h3,
h2 {
  min-width: 12em;
  max-width: 20em;
}


/* 
 * ============
 *   Coloring
 * ============
 *
 * using http://www.studiopress.com/palettes/joy-to-the-world
 */
h2 {
  color: #1C2D17;
  background: #cedde1;
  border-bottom: 4px solid #9ec5c0;
}

h6,
h5,
h4,
h3 { 
  border-bottom: 3px solid rgba(39, 63, 32, 0.35);
}

h1, 
h3 {
  color: #273F20;
}

.circle:hover {
  border-color: #647D7A;
  box-shadow: 0 0 2px 0.15em #647D7A;
}

.circle.expanded {
  margin-bottom: 1em;
}

.circle {
  background: #cedde1;
  color: #1C2D17;

  text-decoration: none;

  border-radius: 5px;
  border: 0.15em solid #9ec5c0;

  display: inline-block;
  margin: 0.1em -0.25em 0;
  padding: 0 0.10em;

  whitespace: pre;
}


/*
 * =================
 *   Miscellaneous
 * =================
 */
.definition-group {
  display: none;
}

.debug figure, 
.debug figcaption,
.debug section, 
.debug main, 
.debug ol, 
.debug li, 
.debug ul, 
.debug aside, 
.debug .description, 
.debug .definition-group, 
.debug .intro, 
.debug p,
.debug .meta {
  box-shadow: 0 0 0px 1px rgba(50, 122, 75, 0.25);
}
