/*
 * Typography
 */

@font-face {
  font-family: 'dserif';
  src: url('DroidSerif-Regular.ttf') format('truetype');
}

h1 { 
  font-size: 2.5em;
}
h2 { 
  font-size: 1.35em; 
  letter-spacing: 0.0205em;
}
h4, h3 {
  font-size: 1.35em;
  letter-spacing: -0.0205em;
}

body {
  font: 14px/19px 'dserif', Times;
}

/*
 * Flow and alignment
 */
figure,
.intro {
  display: block;
}

.section-group {
  text-align: center;
  display: block;
  white-space: nowrap;
  vertical-align: top;
}

section {
  display: inline-block;
  text-align: left;
  white-space: normal;
  vertical-align: top;
}

.category-group-super {
  display: block;
  text-align:center;
}

.category-group-super.h4,
.category-group-super.h2 {
  text-align: left
}

.category-group {
  display: inline-block;
  text-align: left;
}

ol { 
  float: none
}
ol > li {
  float: none;
  display: inline-block;
}
/* 
 * this is kept at height 0 to make the flow
 * of the aside work.
 */
div.aside-container {
  margin-top: -2em;
  margin-left: 1em;
  height:0;
  float: right;
}
/* 
 * While the aside itself still registers
 * its normal height
 */
aside.aside{
  float: right;
}

.intro,
.intro p,
ul,
li,
ol,
figure,
.description,
.description p {
  float: left;
  clear: both;
}
h2 {
  text-align: center;
}



/*
 * Spacing
 */
.intro,
.description,
ul,
ol {
  margin-left: 1em
}

.intro {
  margin-top: 1em
}

.intro .description,
.description .description {
  margin-left: 3em;
}

.section-group {
  margin-top: 2em;
}

.intro p,
.description p,
.description figure
{
  margin-left: 2.0em;
}

section {
  margin: 0 2em;
}

li,
p {
  margin-bottom:1.25em;
}

li {
  padding: 0.5em
}

h1 { 
  padding: 0.5em 0; 
}

h2 {
  padding: 0.75em 1em;
}

.intro,
.description {
  padding:0 0.25em;
  margin-bottom:1.5em;
}

.description {
  margin-top: 1.5em
}

p + .description {
  margin-top: 0
}

/*
 * Confinement
 */
.intro p,
figcaption, 
.description p {
  width: 19em; 
}

li {
  max-width: 19em
}

h2 {
  min-width:12em;
  max-width:20em;
}

/*
 * Coloring rules
 * using http://www.studiopress.com/palettes/joy-to-the-world
 */
h2 {
  color: #1C2D17;
  background: #cedde1;
  border-bottom: 4px solid #9ec5c0;
}

h1,h3 {
  color: #273F20;
}

.circle:hover {
  border-color: #647D7A;
  box-shadow:0 0 2px 0.15em #647D7A;
}
.circle{
  color: #1C2D17;
  text-decoration: none;
  border-radius:5px;
  border:0.15em solid #9ec5c0;
  background: #cedde1;
  margin:0.1em -0.25em;
  padding:0 0.10em;
  whitespace:pre;
  display:inline-block;
}

/*
 * Misc 
 */
.definition-group {
  display: none
}

.debug figure, 
.debug figcaption,
.debug section, 
.debug main, 
.debug ol, 
.debug li, 
.debug ul, 
.debug aside, 
.debug .description, 
.debug .definition-group, 
.debug .intro, 
.debug p,
.debug .meta {
  box-shadow: 0 0 0px 1px rgba(50, 122, 75, 0.25);
}
