/* 
 * This is the display formatting semantic-glosser.
 */
h1,
h2,
h3,
h4,
h5,
h6,
figure, 
figcaption,
section, 
main, 
ol, 
ul, 
aside, 
.label,
.description, 
.definition-group, 
.intro, 
.meta {
  border: 2px solid rgba(50, 122, 75, 0.5);
  margin: 8px;
}

*:before {
   display: inline-block;
   background: rgba(80, 152, 100, 0.35);
   color: rgba(20, 40, 25, 0.8);
   font: 0.75em Verdana;
   font-weight: bold;
   padding: 0.25em 0.5em;
   margin-right: .5em;
   text-align: left;
   text-transform: uppercase;
   text-shadow: -1px -1px 1px rgba(10, 20, 10, 0.3);
}

.section:before     { content: "section" }
ul:before           { content: "path" }
ol:before           { content: "procedure" }
main:before         { content: "main" }
aside:before        { content: "aside" }
figure:before       { content: "figure" }
figcaption:before   { content: "figcaption" }
.description:before { content: "description" }
.intro:before       { content: "intro" }
.meta:before        { content: "meta" }
.label:before       { content: "label" }

h1:before           { content: "title" }

h2:before,
h3:before,
h4:before,
h5:before,
h6:before
{ content: "Category" }

#data { display: block }
