a {
  color:blue;
  cursor: pointer;
}

@font-face {
  font-family: 'ico';
  src: url('iconic_fill.ttf') format('truetype'), 
    url('iconic_fill.wof') format('woff');
}

h1,h2,h3,h4{position:relative}
.Plus {
  cursor:pointer;
  color:#8Fc1fD;
  position:absolute;
  bottom:-0.65em;
  text-align:center; 
  border-radius:20px;
  font-family: 'ico';
  line-height:16px;
  font-size:18px;
  background:black;
}

.more{
  border-bottom:2px solid blue;
}

._jsPlumb_connector {
    z-index:1;
}

#document pa{
  background:rgba(255,255,255,0.75);
  font-weight:bold;
  color: rgb(15, 36, 62); 
  width: 17em; 
  text-indent:0;
  margin: 0 0 1.4em -0.1em;
  position:relative;
  padding:0 0.3em;
}

.section{
  display:inline-block;
  text-align:left;
}

.sectionContainer{
  text-align:right;
  vertical-align:top;
  margin:0 2.5em;
  min-width:20em;
  display:inline-block
}

.layer{
  margin-top:1.3em;
  margin-left:0.75em
}

.entry{
  display:block
}

.shape {
  z-index:2;
  display:inline-block;
}

.connector , .arrowHelper {
  margin-top:.7em;
  height:0;
  vertical-align:top;
}
.arrowHelper {
  display:inline-block;
  width:0;
}

.connector {
  display:inline-block;
  width:2.05em;
}

h2.title {
  font-size:1em;font-weight:normal;display:block;
  min-width:12em;
  max-width:20em;
  font-weight:bold;
  border-bottom:4px solid rgb(31, 73, 125); 
  background: rgb(79, 129, 189); 
  position:relative;
  z-index:10;
  color:#fff;
  margin-top:-0.5em;
  margin-bottom:0;
  padding: 0.95em 0.65em;
}

h2.twoLines {
  text-align:left;
  padding: 0.45em 0.65em;
}

.lineHelper {
  height:2em;
  width:2em;
  margin-bottom:-0.25em;
}


.arrowDown {
  margin-top:0;
  margin-bottom:.5em;
}

h1.title{
  text-transform: uppercase;
  margin-bottom:0.75em;
  display:inline-block;
  color: #000;
}


.h2Container {
  text-align:center;
  display:inline-block
}

.fix{
  line-height:2em;
  margin-top:3em;
  background:red;
  padding:3em
}

