<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Web App</title>
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>
<div id="books">
    <form id="addBook" action="#">
        <div>
            <label for="coverImage">CoverImage: </label><input id="coverImage" type="file">
            <label for="title">Title: </label><input id="title">
            <label for="author">Author: </label><input id="author">
            <label for="releaseDate">Release date: </label><input id="releaseDate">
            <label for="keywords">Keywords: </label><input id="keywords">
            <button id="add">Add</button>
        </div>
    </form>
</div>
<div id='document'></div>
<script id="Aside" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content"><%= content %></span>
</script>
<script id="Category" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content">
    <% _.each(content, function(row) { %>
      <%= row.data %>
    <% }); %>
  </span>
</script>
<script id="Intro" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content"><%= content %></span>
</script>
<script id="Description" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content">
    <% _.each(content, function(row) { %>
      <%= row.data %>
    <% }); %>
  </span>
</script>
<script id="Path" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content"><%= content %></span>
</script>
<script id="Procedure" type="text/template">
  <span class="label"><%= label %></span>
  <span class="content"><%= content %></span>
</script>

<script id="bookTemplate" type="text/template">
    <img src="<%= coverImage %>"/>
    <ul>
        <li><%= title%></li>
        <li><%= author%></li>
        <li><%= releaseDate%></li>
        <li><%= keywords%></li>
    </ul>
    <button class="delete">Delete</button>
</script>
<script src="js/jquery-1.9.0.min.js"></script>
<script src="js/glick-ear.js"></script>
<script src="js/_inject.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/lib.js"></script>
<script src="js/view/html.js"></script>
<script src="js/app.js"></script>
</body>
</html>
