<!doctype html5>
<html>
	<head>
    <title>VizViewer</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />		
    <!-- Each of these are added by the steps
      <link rel="stylesheet" href="css/display-format.css">	
      <link rel="stylesheet" href="css/gloss.css">	
      <link rel="stylesheet" href="css/arrange-on-screen.css">	
      <link rel="stylesheet" href="css/lines-and-arrows.css"> 
    -->
	</head>
	<body>

  <div id="document"> </div>
  <div id="sound"></div> 

<script type="text/template" id="Speech">
  <embed id=sound src="http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf" quality="high" width="400" height="300" FlashVars='config={"clip":{"autoPlay":true,"url":"http://tts-api.com/tts.mp3?q=<%=phrase %>"}}' align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
</script>

<!-- Align the H* with their intros -->
<script type="text/template" id="T-A-AsideContainer">
  <div class="aside-container">
    <p><%= source %></p>
    <aside class='aside'>
      <%= content %>
    </aside>
  </div>
</script>

<script type="text/template" id="T-A-Section"> 
  <div class="section-group">
    <%= sectionList %>
  </div>
</script>

<script type="text/template" id="T-DF-Intro">
  <div class="intro">
    <%= content %>
  </div>
</script>

<script type="text/template" id="T-DF-Section">
  <section>
    <<%=tag %>><%= title %></<%= tag %>>
    <div class="description">
      <%= content %>
    </div>
  </section>
</script>

<script type="text/template" id="T-A-Category">
  <div class="category-group-super <%=tag%>">
    <div class="category-group">
      <<%=tag%>><%= content %>
        <div class="<%=tag%> Plus">&#xe009;</div>
      </<%=tag%>>
      <%= intro %>
    </div>
  </div>
</script>

<script type="text/template" id="T-LA-Category">
    <div>
      <div class="shape h2 lineHelper"></div><div></div>
      <div class="shape arrowDown"></div>
    </div>
    <h2><%= content %></h2>
</script>

    
<script type="text/template" id="T-LA-Title">
  <div class='docTitle'>
    <h1 class="shape"><%= content %>
    </h1><br>
    <div class="shape category lineHelper"></div>
  </div>
</script>

<script type="text/template" id="T-LA-Description">
  <div class='entry'>
    <div class="shape connector"></div>
    <div class="arrowHelper"></div>
    <p class="shape description"><%= content %></p>
  </div>
</script>

<script type="text/template" id="T-Help">
<h2>How to use:</h2>
<p>Specify a pipe delimited string after the url with the following format:</p>

<pre>(engine)|(url)|(step)</pre>

<p>Where engine is one of:</p>

<ul>
  <li>raw - retrieves the file raw</li>
  <li>wikipedia - retrieves a wikipedia page and tries to convert it</li>
</ul>

<p>And step is 0 - 3</p>
</script>
	    
<script src="js/vendor/evda.min.js"></script>
<script src='js/vendor/underscore.js'></script>
<script src="js/lib.js"></script>

<script src='js/vendor/jquery-1.7.1.js'></script>
<script src='js/vendor/jquery-ui.min.js'></script>
  <script src='js/vendor/jquery.ui.touch-punch.min.js'></script>
  <script src='js/vendor/jquery.jsPlumb-1.3.16-all-min.js'></script>
  <script src="js/lines-and-arrows-plumb.js"></script>
<!--
<script src='js/raphael.js'></script>
<script src="js/lines-and-arrows-raphael.js"></script>
-->

<script src="js/file-importer.js"></script>
<script src="js/display-format.js"></script>
<script src="js/arrange-on-screen.js"></script>
<script src="js/hook-events.js"></script>

</body>
</html>
