<!doctype html>

<html>
	<head>
    <title>VizViewer</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />		

    <!-- Each of these are added by the steps
      <link rel="stylesheet" href="css/display-format.css">	
      <link rel="stylesheet" href="css/gloss.css">	
      <link rel="stylesheet" href="css/arrange-on-screen.css">	
    -->
      <link rel="stylesheet" href="css/lines-and-arrows.css"> 


	</head>
	<body>

    <!-- #document is the stuff displayed on the screen -->
    <div id="document"></div>

    <!-- #data is intended for the model. It will usually be
         in the display format, which can exist in the document
         depending on the parsing level.
    -->
    <div id="data"></div>

    <div id="sound"></div> 

  </body>

<script type="text/template" id="Speech">
  <embed 
    id = "sound" 
    src = "http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf" 
    quality = "high" 
    FlashVars = 'config={"clip":{"autoPlay":true,"url":"http://tts-api.com/tts.mp3?q=<%=phrase %>"}}' 
    allowScriptAccess = "always" 
    type = "application/x-shockwave-flash"
  ></embed>
</script>

<div id="templateList-display-format"> 
  <script type="text/template" class="template-Aside">
    <aside>
      <%= content %>
    </aside>
  </script>

  <script type="text/template" class="template-Category">
    <section>
      <<%= tag %>

        <% if (label) { %>
          title="<%= label %>"
        <% } %>
      ><%= title %></<%= tag %>>

      <% if (content.length) { %>
      <div class="<%= type %>">
        <%= content %>
      </div>
      <% } %>

      <%= section %>
    </section>
  </script>

  <script type="text/template" class="template-Description">
    <p><%= content %></p>
  </script>
</div>

<div id="templateList-arrange-on-screen">
  <script type="text/template" class="template-Category">
    <div class="category-group-super <%=tag%>">
      <div class="category-group">
        <<%=tag%>><%= content %>
          <div class="<%=tag%> Plus">&#xe009;</div>
        </<%=tag%>>
        <%= intro %>
      </div>
    </div>
  </script>

  <script type="text/template" class="template-Aside">
    <div class="aside-container">
      <p><%= source %></p>
      <aside class="aside">
        <%= content %>
      </aside>
    </div>
  </script>

  <script type="text/template" class="template-Section"> 
    <div class="section-group">
      <%= sectionList %>
    </div>
  </script>
</div>

<div id="templateList-lines-and-arrows">
  <script type="text/template" class="template-Category">
    <div>
      <div class="shape h2 line-helper"></div><div></div>
      <div class="shape arrow-down"></div>
    </div>
    <h2><%= content %></h2>
  </script>
    
  <!-- A distinction is made between the document title (h1) category and the other categories -->
  <script type="text/template" class="template-Title">
    <div class="document-title">
      <h1 class="shape"><%= content %>
      </h1><br>
      <div class="shape category line-helper"></div>
    </div>
  </script>

  <script type="text/template" class="template-Description">
    <div class="entry">
      <div class="shape connector"></div>
      <div class="arrow-helper"></div>
      <p class="shape description"><%= content %></p>
    </div>
  </script>
</div>

<!-- 
  If no file was specified or we couldn't understand the input, then
  we display a help screen ... just like a CLI application
-->
<script type="text/template" id="T-Help">
<h2>How to use:</h2>
<p>Specify a pipe delimited string after the url with the following format:</p>

<pre>(engine)|(url)|(step)</pre>

<p>Where engine is one of:</p>

<ul>
  <li>raw - retrieves the file raw</li>
  <li>wikipedia - retrieves a wikipedia page and tries to convert it</li>
  <li>glick - a path to a glick-formatted xml</li>
</ul>

<p>And step is 0 - 4</p>

<ol start="0">
  <li> Just loads the file and display it in the input format (file-importer.js)
  <li> Convert it to display format (display-format.js)
  <li> Arrange it on the screen (arrange-on-screen.js)
  <li> Draw the lines and arrows (lines-and-arrows.js)
  <li> Hook up the events (hook-events.js)
</ol>
</script>
	    
<script src="js/min/evda.js"></script>
<script src="js/min/_inject.js"></script>
<script src="js/raw/underscore.js"></script>
<script src="js/raw/backbone.js"></script>
<script src="js/_init.js"></script>
<script src="js/lib.js"></script>

<script src="js/raw/jquery-1.7.1.js"></script>
<script src="js/min/jquery-ui.js"></script>

<!-- JSPlumb wants this -->
  <script src="js/min/jquery.ui.touch-punch.js"></script>
  <script src="js/min/jquery.jsPlumb-1.3.16-all.js"></script>
  <script src="js/lines-and-arrows-plumb.js"></script>

<!-- raphael wants this 
  <script src="js/min/raphael.js"></script>
  <script src="js/lines-and-arrows-raphael.js"></script>
-->

<!-- Step # -->
<!--  0 --> <script src="js/file-importer.js"></script>
<!--  1 --> <script src="js/display-format.js"></script>
<!--  2 --> <script src="js/build-model.js"></script>
<!--  3 --> <script src="js/arrange-on-screen.js"></script>

<!--  5 --> <script src="js/hook-events.js"></script>

<script src="js/view/_prototype_.js"></script>
<script src="js/view/base.js"></script>
<script src="js/model-dom.js"></script>

</html>
